<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Melbourne Physiotherapy Sports Injury Clinic"/>
    <meta name="keywords" content="Melbourne Derbyshire,Phyisotherapy,Sports Injury"/>
    <title>Melbourne Physiotherapy and Sports Injury Clinic</title>
    <script language="JavaScript" type="text/javascript" src="/Scripts/jquery-1.8.2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div class="wrapper">
            <div class="page">
                <div class="pageWrapper">
                    <header id="header">
                        
                        
                        <nav class="mainNav">
                            <section class="nav-wrapper">
                        
                                <div id="nav" class="navInner">
                                    <a href="@Url.Action("Index", "Home")">
                                        <div class="navLink">Home</div>
                                    </a>
                                    <a href="@Url.Action("Index", "Treatments")">
                                        <div class="navLink">Treatments</div>
                                    </a>
                                    <a href="@Url.Action("Index", "Testimonials")">
                                        <div class="navLink">Testimonials</div>
                                    </a>
                                    <a href="@Url.Action("Index", "Contact")">
                                        <div class="navLink">Contact</div>
                                    </a>
                                </div>
                            
                            </section>
                        </nav>
                        
                        @*<div class="nav-contact-details">
                            <span><b>Mobile: </b></span>
                            
                            <span><b>07557 761 852</b></span>
                            <br/>
                            <span><b>Email: </b></span>
                            <span><b><a href="mailto:info@melbournephysio.co.uk">info@melbournephysio.co.uk</a></b></span>
                        </div>*@
                    </header>
                    <div class="logo-wrapper">
                        <h1 id="logo"><a href="@Url.Action("Index", "Home")">Melbourne Physiotherapy and Sports Injury Clinic</a></h1>
                    </div>        
                    <div id="contentWrapper">
                        
                        <section id="main">
                            @RenderBody()
                        </section>
                    </div>
                    <footer>
                        
                        <div class="footer_text">
                            <div class="spacer"></div>
                            <p>This website and its content is copyright of Melbourne Physiotherapy and Sports Injury Clinic - © Melbourne Physiotherapy and Sports Injury Clinic 2014. All rights reserved.</p>
                            <p>This privacy policy sets out how Melbourne Physiotherapy and Sports Injury Clinic uses and protects any information that you give Melbourne Physiotherapy and Sports Injury Clinic when you use this website. Melbourne Physiotherapy and Sports Injury Clinic is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. Melbourne Physiotherapy and Sports Injury Clinic may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from January 2014.</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        @Scripts.Render("~/bundles/jqueryui")

        @Scripts.Render("~/bundles/mainscript")
        @RenderSection("scripts", required: false)
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-53677267-1', 'auto');
            ga('send', 'pageview');
        </script>

    </body>
</html>
